/.vs/Remote Control/FileContentIndex
/.vs/Remote Control/v17
/Remote Control/Remote Control.vcxproj.user
/x64/Debug
/Remote Control/x64/Debug
/Remote Control/test1.jpg
/Remote Control/test1.png
/RemoteClient/res
